


<% if user_signed_in? %>
<%= link_to "Signout" , destroy_user_session_path, method: :delete %>
<%end%>


<body>

<div id="index-header">
<div id="header-title"> Fight Fight Fight </div>
<div id="e-wallet">Current points: </div>
</div>

<div id="index-page">
<div class="players">
<img src = <%= @battles["image"]["url"] %>>image</img>
<h5> Name: <%= @battles["name"] %> </h5>
<h5> Intelligence:          <%= @battles["powerstats"]["intelligence"] %></h5>
<h5> Strength:          <%= @battles["powerstats"]["strength"] %></h5>
<h5> Speed:          <%= @battles["powerstats"]["speed"] %></h5>
<h5> Durability:          <%= @battles["powerstats"]["durability"] %></h5>
<h5> Power:          <%= @battles["powerstats"]["power"] %></h5>
<h5> Combat:          <%= @battles["powerstats"]["combat"] %></h5>



</div>
<div id="vs" class="players">
<div id="vs-letter">VS</div>

</div>
<div class="players">
<div class="image"><img src = <%= @battles2["image"]["url"] %>>image</img></div>
<h5> Name: <%= @battles2["name"] %> </h5>
<h5> Intelligence:          <%= @battles2["powerstats"]["intelligence"] %></h5>
<h5> Strength:          <%= @battles2["powerstats"]["strength"] %></h5>
<h5> Speed:          <%= @battles2["powerstats"]["speed"] %></h5>
<h5> Durability:          <%= @battles2["powerstats"]["durability"] %></h5>
<h5> Power:          <%= @battles2["powerstats"]["power"] %></h5>
<h5> Combat:          <%= @battles2["powerstats"]["combat"] %></h5>

</div>
</div>

<div id="betting-div">
<div id="player-one-side">
<div id="amount-bet-for-player-one"></div>
<div id="bet-interface">

      <%= form_for @transactionhistory, remote: true do |form| %>
        <% if @transactionhistory.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(transactionhistory.errors.count, "error") %> prohibited this transactionhistory from being saved:</h2>

            <ul>
              <% @transactionhistory.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div>
     
      <%= form.hidden_field :bet , value: "player-one" %>
      </div>

      <div>
       <%= form.label :amountofbet %>
       <%=form.text_field :amountofbet , id: 'player-one-bet-amount' %>
       <%= form.hidden_field :user_id , value: current_user.id%>
      </div>

      <div id="submit-form">
      <%= form.submit %>
      </div>
    <% end %>
</div>
<button id="player-one-button" class="players-button"><a  href= "<%= transactionhistories_url %>" data-remote="true">Player One </a></button>

</div>

<div id="player-two-side">
<div id="amount-bet-for-player-two"></div>
<div id="bet-interface-for-player-two">


      <%= form_for @transactionhistory, remote: true do |form| %>
        <% if @transactionhistory.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(transactionhistory.errors.count, "error") %> prohibited this transactionhistory from being saved:</h2>

            <ul>
              <% @transactionhistory.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div>
     
      <%= form.hidden_field :bet , value: "player-two" %>
      </div>

      <div>
       <%= form.label :amountofbet %>
       <%=form.text_field :amountofbet ,id: 'player-two-bet-amount' %>
       <%= form.hidden_field :user_id , value: current_user.id%>
      </div>

      <div id="submit-form">
      <%= form.submit %>
      </div>
    <% end %>
</div>
<button id="player-two-button" class="players-button"><a  href= "<%= transactionhistories_url %>" data-remote="true">Player Two </a></button>
<div id="amount"></div>
</div>
</div>
<script>

document.getElementById('bet-interface').style.visibility="hidden";
document.getElementById('bet-interface-for-player-two').style.visibility="hidden";



document.getElementById('player-one-button').addEventListener('click',function(){
document.getElementById('bet-interface').style.visibility="visible";
document.getElementById('bet-interface-for-player-two').style.visibility="hidden";

 
  
})

document.getElementById('player-two-button').addEventListener('click',function(){
document.getElementById('bet-interface-for-player-two').style.visibility="visible";
document.getElementById('bet-interface').style.visibility="hidden";
 
})


</script>
 </body>


